<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Levitating Monk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>574AEA061E468D8000050F8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>574AEA201E468D8100050F8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>574AEA2B1E468D8100050F8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
